.build-log {
  border-radius: var(--border-radius-card);
  background-color: var(--log-bg);
  padding: var(--space-xxs) var(--space-s);
  box-sizing: border-box;
  overflow-x: auto;
}

pre.build-log {
  margin: 0;
  width: auto;
  font-size: var(--font-size-xxs);
  line-height: var(--line-height-m);
}

@media screen and (max-width: 856px) {
  .build-log {
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
