.text-field {
  max-width: 474px;
  font-family: var(--font-family);
  color: var(--text-primary);
}
.text-field__input-container {
  position: relative;
}

.text-field__label,
.text-field__input {
  display: block;
  width: 100%;
}

.text-field__label {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  margin-bottom: var(--space-xxs);
}

.text-field_required .text-field__label::after {
  content: "*";
  color: var(--red-500);
  margin-left: 2px;
}

.text-field__input {
  height: var(--interactive-elem-size-large);
  padding: 0 var(--space-s);
  box-sizing: border-box;
  border: var(--border-width) solid var(--grey-150);
  border-radius: var(--border-radius-interactive-elem);
  transition: var(--transition);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  outline: none;
}

.text-field__input:focus {
  border-color: var(--grey-300);
}

.text-field__input::placeholder {
  color: var(--grey-200);
}

.text-field_clearable .text-field__input {
  padding-right: var(--space-xxl);
}

.text-field__reset {
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  background: url("./images/clear.svg") center no-repeat;
  background-size: 16px;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  visibility: hidden;
}

.text-field_clearable .text-field__input:not(:placeholder-shown) + .text-field__reset {
  visibility: visible;
}
