.settings {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-family);
}

.settings .header {
  flex: 0 0 auto;
}

.settings .footer {
  flex: 0 0 auto;
}

.settings__content {
  flex: 1 0 auto;
}

.settings .header a {
  text-decoration: none;
  color: unset;
}

.settings__content .content-box {
  margin-bottom: var(--space-l);
}

.settings__title {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--text-primary);
  font-weight: 600;
  margin-bottom: var(--space-xxs);
}

.settings__description {
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  letter-spacing: 0.06px;
  color: var(--text-secondary);
  margin-bottom: var(--space-l);
}

.settings .text-field {
  padding: var(--space-xs) 0 var(--space-xxs);
}

.settings__sync {
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  color: var(--blue-grey-600);
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: var(--space-s);
}

.settings__sync .text-field {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding-top: var(--space-s);
}

.settings__sync .text-field .text-field__label {
  width: auto;
  margin-right: var(--space-xxs);
}

.settings__sync .text-field .text-field__input {
  width: 52px;
  margin-right: var(--space-xxs);
  text-align: right;
}

.settings__controls {
  display: flex;
}

.settings__controls > * {
  margin-right: var(--space-xxs);
}

.settings__controls > *:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .settings__description {
    padding-right: var(--space-xxxl);
    margin-bottom: var(--space-xxxs);
  }

  .settings__controls {
    flex-direction: column;
    align-items: stretch;
  }

  .settings__controls .button {
    width: 100%;
  }

  .settings__controls > * {
    margin-right: 0;
    margin-bottom: var(--space-s);
  }

  .settings__controls > *:last-child {
    margin-bottom: 0;
  }

  .settings__sync .text-field {
    padding-top: var(--space-xxs);
  }
}
