:root {
  --yellow-500: #ffcc00;
  --yellow-530: #f2c200;
  --yellow-650: #b38f00;

  --grey-50: #f2f2f2;
  --grey-100: #e6e6e6;
  --grey-140: #dbdbdb;
  --grey-150: #d9d9d9;
  --grey-190: #cecece;
  --grey-270: #b9b9b9;
  --grey-300: #b3b3b3;
  --grey-650: #595959;

  --blue-grey-50: #f0f2f3;

  --transition: all 150ms ease-in;

  --border-width: 2px;

  --box-shadow-normal: 0 1px 1px rgba(67, 68, 69, 0.3), 0 0 1px rgba(67, 68, 69, 0.3);
  --box-shadow-hover: 0 2px 8px rgba(67, 68, 69, 0.3), 0 0 1px rgba(67, 68, 69, 0.3);

  --bg-primary: #fff;

  --font-family: "YS Text", Arial, sans-serif;

  --text-primary: #000;
  --text-secondary: #7f8285;
  --text-meta: var(--grey-650);

  --font-size-xs: 13px;
  --font-size-s: 13px;
  --font-size-m: 15px;
  --font-size-l: 18px;
  --font-size-xl: 24px;

  --line-height-xs: 16px;
  --line-height-s: 18px;
  --line-height-m: 20px;
  --line-height-l: 22px;
  --line-height-xl: 28px;

  --space-xxxs: 4px;
  --space-xxs: 8px;
  --space-xs: 10px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 20px;
  --space-xl: 24px;
  --space-xxl: 36px;
  --space-xxxl: 56px;

  --status-success: #00b341;
  --status-running: #ff9a00;
  --status-failed: #ff3333;

  --border-radius-card: 6px;
  --border-radius-interactive-elem: 4px;

  --interactive-elem-size-small: 28px;
  --interactive-elem-size-large: 36px;

  --footer-bg: var(--blue-grey-50);
  --log-bg: var(--grey-50);

  --content-width-l: 824px;
}