.header {
  padding: var(--space-xs) calc(50% - var(--content-width-l) / 2);
  display: flex;
  justify-content: space-between;
  font-family: var(--font-family);
  font-size: var(--font-size-xl);
  font-weight: 500;
  line-height: var(--line-height-xl);
  letter-spacing: 0.25px;
  word-break: break-word;
  box-sizing: border-box;
}

.header_type_primary {
  color: var(--text-primary);
}

.header_type_secondary {
  color: var(--text-secondary);
}

.header__extra {
  display: flex;
  flex-shrink: 0;
  margin-left: var(--space-xxs);
}

.header__extra > * {
  margin-left: var(--space-xxs);
}

.header__extra > *:first-child {
  margin-left: 0;
}

@media screen and (max-width: 856px) {
  .header {
    padding: var(--space-s) var(--space-m);
  }
}

@media screen and (max-width: 425px) {
  .header {
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);
  }

  .header__extra .button_icon.button_size_s .header__button-text {
    display: none;
  }

  .header__extra .button_icon.button_size_s {
    padding: 0;
    width: var(--interactive-elem-size-small);
  }
}